<div>
    <section>
        <div>
            <br>
           <p style="text-align: center; font-size: 35px">Iniciar Sesion</p><br>
           <br>
        
            <form  method="POST" name="f1">
                <label for="">Usuario:</label><br>
                <input type="text" name="usuario" placeholder="Ejem:Usuario123" value="" required><br><br>
                <label for="">Contraseña:</label><br>
                <input type="password" id="passwd" placeholder="Password" name="passwd" value="" required ><br><br>
                <p style="color: red; font-size: 13px" id="error"></p>
                <input type="submit" name="submit" value="Registrar" class="btn_entrar" style="margin-left: 25px">
            </form>
            <!--<br><br><br><br><br>
            <div class="crear">
                <p style="font-size: 15px">¿Ya tienes una cuenta registrada?</p> <a href="" class="btn_crea" style="margin-left: 90px">Iniciar sesion</a> 
            </div>-->
        </div>
    </section>
</div>
