<section>
<div class="container-add">
        <h1 class="container__title">Historial clinico</h1>
        <form name="f1">
                <label for=""> Nombre:</label>
                <input type="text" name="nombre" placeholder="Nombre" value="" required [(ngModel)]="nombre">&nbsp;&nbsp;
                <label for=""> ID Paciente:</label>&nbsp;
                <input type="number" name="idpan" placeholder="Id " value="" required [(ngModel)]="idpaciente" style="width: 100px">&nbsp;
                <label for=""> Peso:</label>
                <input type="number" name="idpan" placeholder="Peso kg" value="" required [(ngModel)]="peso" style="width: 100px"><br>
                <label for=""> Talla:</label>
                <input type="number" name="idpan" placeholder="Talla cm" value="" required [(ngModel)]="talla" style="width: 100px">&nbsp;
                <label for=""> Altura:</label>
                <input type="number" name="idpan" placeholder="Altura cm" value="" required [(ngModel)]="altura" style="width: 100px">&nbsp;
                <label for=""> Temperatura:</label>
                <input type="number" name="idpan" placeholder="Temperatura C" value="" required [(ngModel)]="temperatura" style="width: 100px">&nbsp;
                <label for=""> Presion Arterial:</label>
                <input type="number" name="idpan" placeholder="/" value="" required [(ngModel)]="presionart" style="width: 100px"><br>
                <label for=""> Pulso:</label>
                <input type="number" name="idpan" placeholder="Pulso" value="" required [(ngModel)]="pulso" style="width: 100px"><br>
                <label for=""> Prescripcion:</label><br>
                <textarea name="algo" id="" cols="98" rows="6" required [(ngModel)]="prescripcion"></textarea><br>
                <label for=""> Medicamentos:</label><br>
                <textarea name="algo" id="" cols="98" rows="6" required [(ngModel)]="medicamentos"></textarea>
                <input type="submit" name="submit" value="Pedir Doctor" class="btn_entrar1" style="margin-left: 25px" (click)="ConsultarDoctor()">
                <br>
				<video style="height: 63vh; width: 110vh; display: none;" loop="true" autoplay="true" id="cargando" #videoPlayer>
				  <source src="../../../assets/VideoLLamada/Cargando.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
            </form>
    </div>
</section>
