<div class="principal">
    <div class="container">
        <h1>Servicio Medico</h1>
        <!--<h4>Bienvenido al consultorio Pratricias, donde nuestros doctores te atienden a distancia, tu solo  visita nuestras sucursal para tomar tus datos y realizar el historial clinico.</h4>-->
        <div class="iconos">
            <p><i class="fas fa-lungs-virus"></i></p>
            <p><i class="fas fa-head-side-cough"></i></p>
            <p><i class="fas fa-skull-crossbones"></i></p>
            <p><i class="fas fa-allergies"></i></p>
            <p>+</p>
        </div>
    </div>
    <br>
    <div class="container recuadros">
        <div style="background-color: #20B2AA">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Horario de Trabajo</h3>
            <p></p>
        </div>
        <div style="background-color: #008B8B">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Horario de Trabajo</h3>
            <p></p>
        </div>
        <div style="background-color: #20B2AA">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Horario de Trabajo</h3>
            <p></p>
        </div>
        <div style="background-color: #008B8B">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Horario de Trabajo</h3>
            <p></p>
        </div>
    </div>
</div>