<div class="principal">
    <div class="container">
        <h1>Servicio Medico</h1>
        <!--<h4>Bienvenido al consultorio Pratricias, donde nuestros doctores te atienden a distancia, tu solo  visita nuestras sucursal para tomar tus datos y realizar el historial clinico.</h4>-->
        <div class="iconos">
            <p><i class="fas fa-lungs-virus"></i></p>
            <p><i class="fas fa-head-side-cough"></i></p>
            <p><i class="fas fa-skull-crossbones"></i></p>
            <p><i class="fas fa-allergies"></i></p>
            <p>+</p>
        </div>
    </div>
    <br>
    <div class="container recuadros">
        <div style="background-color: #20B2AA">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Horario de Trabajo</h3>
            <hr>
            <p>Lunes - Viernes <br> 8:00 - 18:00</p><hr>
            <p>Sabados <br> 8:00 - 13:00</p>
            <hr>
            <p>Domingos <br> Solo por cita.</p>
        </div>
        <div style="background-color: #008B8B">
            <p style="font-size: 30px"><i class="fas fa-users"></i></p>
            <h3>Doctores a distancia</h3>
            <p>Ten a acceso a el servicio de medicación a distancia, en donde te atenderá un doctor desde las comodidades de nuestras instalaciones y sin el riego de contagiar a más personas. Solo acede a una video llamada con nuestros mejores especialistas en todas las áreas antes mostradas.</p>
        </div>
        <div style="background-color: #20B2AA">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Numero de emergencias</h3>
            <p></p>
        </div>
        <div style="background-color: #008B8B">
            <p style="font-size: 30px"><i class="far fa-clock"></i></p>
            <h3>Horario de Trabajo</h3>
            <p></p>
        </div>
    </div>
</div>


<div class="container">
    <div>
        <p style="font-size: 120px; text-align: center; color: #28d399"><i class="far fa-check-circle"></i></p>
        <h1 style="text-align: center">Servicio medico de excelencia</h1>
        <p style="text-align: center">Disfruta de un servicio con los mejores medicos de la zona.</p>
    </div>
</div>